{% extends 'homepage/base.html' %}
{% load caps %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}

<div class='infinite-container' style="display: flex; flex-wrap: wrap;">
    {% for p in posts %}
    <div class="infinite-item col-4" style="width: 315px; min-width: 315px;">
        {% for f in followers %}

                {% if p.author.username == f.being_followed.username %}
                    <a href="{% url 'public-profile' p.author.username %}" id="author-link">

                        <img class="rounded-circle article-img" src= "{{ p.author.profile.image.url }}">
                        <strong>{{ p.author }}</strong>
                    </a>
        {% if p.images.count > 1 %}
            <div id="carousel-{{p.id}}" class="carousel slide" data-ride="carousel" data-interval="false" data-wrap="false">
                <ol class="carousel-indicators">

                {% for image in p.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <li data-target="#carousel-{{p.id}}" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#carousel-{{p.id}}" data-slide-to="{{ forloop.counter0 }}"></li>
                    {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for image in p.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <div class="carousel-item active">
                            <img class="d-block w-100" src={{ image.modelimage.url }} alt="First slide">
                        </div>

                    {% else %}
                        <div class="carousel-item">
                            <img class="d-block w-100" src={{ image.modelimage.url }} alt="Further slide">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
                <a class="carousel-control-prev" href="#carousel-{{p.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-{{p.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        </div>

    {% else %}
        {% for image in p.images.all %}
                <div>
                    <img src="{{ image.modelimage.url }}" class="fit-image" alt='image'>
                </div>
        {% endfor %}
    {% endif %}



    {% for i in p.likes.all %}
        {% if user == i.liker %}
            <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn fas fa-heart fa-lg post-buttons "></i></a>
        {% elif forloop.last %}
            <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn far fa-heart fa-lg post-buttons "></i></a>
        {% endif %}

    {% empty %}
        <a class='likebutton' data-catid="{{ p.id }}"><i id='like{{ p.id }}' class="btn far fa-heart fa-lg post-buttons "></i></a>

    {% endfor %}

        <a href="{% url 'comment-form' p.id %}" id="comment-link"><i class="far fa-comment fa-lg post-buttons"></i></a>

            {% if p.author == user %}


                <span class="dropdown show">
                        <a class="btn btn-link" href="#" role="button" id="dropdownMenuLink-{{p.id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-h post-buttons"></i>
                        </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-{{p.id}}">
                        <a class="dropdown-item" href="{% url 'post-update' p.id %}">Update</a>
                        <a class="dropdown-item" href="{% url 'post-delete' p.id %}">Delete</a>
                    </div>
                </span>
            {% endif %}
                    {% if p.likes.count == 0 %}
                    <a id='black-link' class='like{{p.id}}' href="{% url 'likes-list' p.id %}" style="display:none;">
                    <div>
                    <b id='likecount{{p.id}}'> {{p.likes.count}} likes
                    </b>
                    </div>
                    </a>
                    {% elif p.likes.count == 1 %}

                    <a id="author-link" class='like{{p.id}}' href="{% url 'likes-list' p.id %}">
                    <div>
                    <b id='likecount{{p.id}}'> {{p.likes.count}} like
                    </b>
                    </div>
                    </a>

                    {% elif p.likes.count > 1 %}

                    <a id="author-link" class='like{{p.id}}' href="{% url 'likes-list' p.id %}">
                    <div>
                    <b id='likecount{{p.id}}'> {{p.likes.count}} likes
                    </b>
                    </div>
                    </a>

                    {% endif %}


            <div class='mb-0'><p class='mb-0 comment-text'><a href="{% url 'public-profile' p.author.username %}" id="author-link"><b>{{ p.author }}</b></a> {{ p.caption }}</p></div>

            {% for comment in p.comments.all %}
                {% if forloop.counter0 == 0 %}
                    {% if p.comments.all.count > 3 %}
                        <div class='post-text-indent'>
                            <a href="{% url 'post-detail' p.id %}" id="detail-link">
                                <p id='more-comments'>
                                    View all {{ p.comments.all.count}} comments
                                </p>
                            </a>
                        </div>
                        {% endif %}
                {% endif %}
                {% if forloop.counter0 < 2 %}
                <div class='mb-0'><p class='mb-0 comment-text'><a href="{% url 'public-profile' comment.author.username %}" id="author-link"><b>{{ comment.author }}</b></a> {{ comment.content }}</p></div>
                {% endif %}
            {% endfor %}
                <a href="{% url 'post-detail' p.id %}" id="detail-link">
                    <p>
                        <small>{{ p.date_posted|naturaltime|upper }}</small>
                    </p>
                </a>
            <div id='postdivider'></div>
    {% endif %}
    {% endfor %}
</div>
    {% endfor %}
</div>

  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if page_obj.has_next %}
    <a class="infinite-more-link black-link" href="?page={{ page_obj.next_page_number }}">More</a>
  {% endif %}


{% endblock content %}

